{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/products-01.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar campechana</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id tellus id ex venenatis lacinia. </p>
            <p>Fusce facilisis, nisl tristique sagittis consequat, risus elit ultricies tortor, in sodales sem lacus nec neque. Nulla eget dui porttitor, vulputate sem pretium, iaculis ligula. Ut nec est in magna vehicula molestie. Sed eget massa id orci tincidunt tempus vel a elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}